.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay that covers the whole screen */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Whitish blend effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ball1, .ball2, .ball3, .ball4{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: purple;
  opacity: 60%;
  position: absolute;
}
.ball1{
  left: 0;
  top: 0;
}
.ball2{
  top: 0;
  right: 0;
}
.ball3{
  bottom: 0;
  right: 0;
}
.ball4{
  bottom: 0;
  left: 0;
}
.ball{
  width: 60px;
  height: 60px;
  position: relative;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0%{ transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.foot{
  position: absolute;
  bottom: 100px;
}
.loader-container p {
  font-weight: bold;
  margin-top: 10px;
}