.password{
  position: relative;
}
.password-display{
  position: absolute;
  right: 10px;
  top: 35px;
  cursor: pointer;
}

.loginbg{
  background: url(../../public/images/login-img2.jpg), rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}
.backg{
  background: url(../../public/images/register-img.jpg), rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}